# Importation des df

In [100]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [101]:
animal_df = pd.read_csv("src/datas/animal_dataset.csv")
vegetal_df = pd.read_csv("src/datas/vegetal_dataset.csv")
population_df = pd.read_csv("src/datas/population_dataset.csv")

In [102]:
animal_df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.62,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.73,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/capita/day,15.42,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/capita/day,16.03,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/capita/day,1.09,E,Estimated value

In [103]:
vegetal_df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2018,2018,kg,160.12,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2019,2019,kg,158.95,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2018,2018,kcal/capita/day,1372.02,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2019,2019,kcal/capita/day,1361.66,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2511,Wheat and products,2018,2018,g/capita/day,37.00,E,Estimated value

In [104]:
population_df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,37172.00,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,38041.75,X,Figure from international organizations
2,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,2883.00,X,Figure from international organizations
3,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,2880.92,X,Figure from international organizations
4,FBS,Food Balances (2010-),12,Algeria,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,42228.00,X,Figure from international organizations

## Nettoyage des données

### Question 1 :

In [105]:
# Première étape faire le nettoyage dans les titres.
animal_df = animal_df.rename(columns=lambda x: x.lower().replace(' ', '_'))
print("---------Animal---------")
animal_df.columns

---------Animal---------

Index(['domain_code', 'domain', 'area_code_(m49)', 'area', 'element_code',
       'element', 'item_code_(cpc)', 'item', 'year_code', 'year', 'unit',
       'value', 'flag', 'flag_description'],
      dtype='object')

In [106]:
vegetal_df = vegetal_df.rename(columns=lambda x: x.lower().replace(' ', '_'))
print("---------Vegetal---------")
vegetal_df.columns

---------Vegetal---------

Index(['domain_code', 'domain', 'area_code_(m49)', 'area', 'element_code',
       'element', 'item_code_(cpc)', 'item', 'year_code', 'year', 'unit',
       'value', 'flag', 'flag_description'],
      dtype='object')

In [107]:
population_df = population_df.rename(columns=lambda x: x.lower().replace(' ', '_'))
print("---------Population---------")
population_df.columns

---------Population---------

Index(['domain_code', 'domain', 'area_code_(m49)', 'area', 'element_code',
       'element', 'item_code_(cpc)', 'item', 'year_code', 'year', 'unit',
       'value', 'flag', 'flag_description'],
      dtype='object')

### Question 2 :

In [108]:
# Dimensions des jeux de données
animal_df.shape

(31366, 14)

In [109]:
vegetal_df.shape

(92890, 14)

In [110]:
population_df.shape

(364, 14)

### Question 3 :

In [111]:
# Voir les 5 premières lignes des jeux de données
animal_df.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.62,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.73,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/capita/day,15.42,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/capita/day,16.03,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/capita/day,1.09,E,Estimated value

In [112]:
vegetal_df.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2018,2018,kg,160.12,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2019,2019,kg,158.95,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2018,2018,kcal/capita/day,1372.02,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2019,2019,kcal/capita/day,1361.66,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2511,Wheat and products,2018,2018,g/capita/day,37.00,E,Estimated value

In [113]:
population_df.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,37172.00,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,38041.75,X,Figure from international organizations
2,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,2883.00,X,Figure from international organizations
3,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,2880.92,X,Figure from international organizations
4,FBS,Food Balances (2010-),12,Algeria,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,42228.00,X,Figure from international organizations

### Question 4 :

In [114]:
# Ajout de la colonne type aux datasets animal & vegetal
animal_df = animal_df.assign(type='animal')
vegetal_df = vegetal_df.assign(type='vegetal')

In [115]:
product_df = pd.concat([animal_df, vegetal_df], ignore_index=True)

In [116]:
# Vérification du nouveau dataset
product_df.sample(n=5)

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description,type
56866,FBS,Food Balances (2010-),212,Dominica,645,Food supply quantity (kg/capita/yr),S2620,Grapes and products (excl wine),2018,2018,kg,2.86,E,Estimated value,vegetal
110933,FBS,Food Balances (2010-),729,Sudan,664,Food supply (kcal/capita/day),S2617,Apples and products,2019,2019,kcal/capita/day,0.13,E,Estimated value,vegetal
65320,FBS,Food Balances (2010-),300,Greece,664,Food supply (kcal/capita/day),S2555,Soyabeans,2018,2018,kcal/capita/day,0.08,E,Estimated value,vegetal
107870,FBS,Food Balances (2010-),705,Slovenia,674,Protein supply quantity (g/capita/day),S2558,Rape and Mustardseed,2018,2018,g/capita/day,0.07,E,Estimated value,vegetal
47823,FBS,Food Balances (2010-),344,"China, Hong Kong SAR",684,Fat supply quantity (g/capita/day),S2520,"Cereals, Other",2019,2019,g/capita/day,0.05,E,Estimated value,vegetal

### Question 5 :

In [117]:
# Changement du dataset population
population_df.sample(n=5)

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
103,FBS,Food Balances (2010-),218,Ecuador,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,17373.66,X,Figure from international organizations
120,FBS,Food Balances (2010-),258,French Polynesia,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,278.00,X,Figure from international organizations
288,FBS,Food Balances (2010-),682,Saudi Arabia,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,34268.53,X,Figure from international organizations
97,FBS,Food Balances (2010-),262,Djibouti,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,973.56,X,Figure from international organizations
149,FBS,Food Balances (2010-),348,Hungary,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,9684.68,X,Figure from international organizations

In [118]:
population_df = population_df.drop(['domain_code', 'domain', 'element_code', 'element', 'item_code_(cpc)', 'item', 'year_code', 'unit', 'flag', 'flag_description'], axis=1)
population_df.sample(n=5)

     area_code_(m49)                              area  year     value
1                  4                       Afghanistan  2019  38041.75
45               100                          Bulgaria  2019   7000.12
37                68  Bolivia (Plurinational State of)  2019  11513.10
284              882                             Samoa  2019    197.10
180              417                        Kyrgyzstan  2018   6304.00

In [119]:
population_df = population_df.rename(columns={'value': 'pop_1000_hab'})
population_df.sample(n=5)

     area_code_(m49)                area  year  pop_1000_hab
3                  8             Albania  2019       2880.92
128              276             Germany  2018      83124.00
135              308             Grenada  2019        112.00
67               446    China, Macao SAR  2019        640.45
273              643  Russian Federation  2018     145734.00

### Question 6 :
afin de ne garder que les colonnes area_code_(fao), area, element, item, year, type, unit.

In [121]:
product_df = product_df.drop(['domain_code', 'domain', 'element_code', 'item_code_(cpc)', 'year_code', 'value', 'flag', 'flag_description'], axis=1)
product_df.sample(n=5)

,area_code_(m49),area,element,item,year,unit,type
25054,686,Senegal,Protein supply quantity (g/capita/day),"Aquatic Animals, Others",2019,g/capita/day,animal
40268,64,Bhutan,Food supply (kcal/capita/day),Wheat and products,2019,kcal/capita/day,vegetal
16884,442,Luxembourg,Fat supply quantity (g/capita/day),Pigmeat,2019,g/capita/day,animal
116882,795,Turkmenistan,Food supply quantity (kg/capita/yr),"Lemons, Limes and products",2019,kg,vegetal
90343,524,Nepal,Food supply quantity (kg/capita/yr),Coconuts - Incl Copra,2019,kg,vegetal

### Question 7 :