# Importation des df

In [473]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [474]:
animal_df = pd.read_csv("src/datas/animal_dataset.csv")
vegetal_df = pd.read_csv("src/datas/vegetal_dataset.csv")
population_df = pd.read_csv("src/datas/population_dataset.csv")

In [475]:
animal_df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.62,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.73,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/capita/day,15.42,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/capita/day,16.03,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/capita/day,1.09,E,Estimated value

In [476]:
vegetal_df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2018,2018,kg,160.12,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2019,2019,kg,158.95,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2018,2018,kcal/capita/day,1372.02,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2019,2019,kcal/capita/day,1361.66,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2511,Wheat and products,2018,2018,g/capita/day,37.00,E,Estimated value

In [477]:
population_df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,37172.00,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,38041.75,X,Figure from international organizations
2,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,2883.00,X,Figure from international organizations
3,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,2880.92,X,Figure from international organizations
4,FBS,Food Balances (2010-),12,Algeria,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,42228.00,X,Figure from international organizations

## Nettoyage des données

### Question 1 :

In [478]:
# Première étape faire le nettoyage dans les titres.
animal_df = animal_df.rename(columns=lambda x: x.lower().replace(' ', '_'))
print("---------Animal---------")
animal_df.columns

---------Animal---------

Index(['domain_code', 'domain', 'area_code_(m49)', 'area', 'element_code',
       'element', 'item_code_(cpc)', 'item', 'year_code', 'year', 'unit',
       'value', 'flag', 'flag_description'],
      dtype='object')

In [479]:
vegetal_df = vegetal_df.rename(columns=lambda x: x.lower().replace(' ', '_'))
print("---------Vegetal---------")
vegetal_df.columns

---------Vegetal---------

Index(['domain_code', 'domain', 'area_code_(m49)', 'area', 'element_code',
       'element', 'item_code_(cpc)', 'item', 'year_code', 'year', 'unit',
       'value', 'flag', 'flag_description'],
      dtype='object')

In [480]:
population_df = population_df.rename(columns=lambda x: x.lower().replace(' ', '_'))
print("---------Population---------")
population_df.columns

---------Population---------

Index(['domain_code', 'domain', 'area_code_(m49)', 'area', 'element_code',
       'element', 'item_code_(cpc)', 'item', 'year_code', 'year', 'unit',
       'value', 'flag', 'flag_description'],
      dtype='object')

### Question 2 :

In [481]:
# Dimensions des jeux de données
animal_df.shape

(31366, 14)

In [482]:
vegetal_df.shape

(92890, 14)

In [483]:
population_df.shape

(364, 14)

### Question 3 :

In [484]:
# Voir les 5 premières lignes des jeux de données
animal_df.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.62,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.73,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/capita/day,15.42,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/capita/day,16.03,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/capita/day,1.09,E,Estimated value

In [485]:
vegetal_df.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2018,2018,kg,160.12,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2019,2019,kg,158.95,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2018,2018,kcal/capita/day,1372.02,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2019,2019,kcal/capita/day,1361.66,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2511,Wheat and products,2018,2018,g/capita/day,37.00,E,Estimated value

In [486]:
population_df.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,37172.00,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,38041.75,X,Figure from international organizations
2,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,2883.00,X,Figure from international organizations
3,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,2880.92,X,Figure from international organizations
4,FBS,Food Balances (2010-),12,Algeria,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,42228.00,X,Figure from international organizations

### Question 4 :

In [487]:
# Ajout de la colonne type aux datasets animal & vegetal
animal_df = animal_df.assign(type='animal')
vegetal_df = vegetal_df.assign(type='vegetal')

In [488]:
# Assemblage des deux datasets animal et vegetal
product_df = pd.concat([animal_df, vegetal_df], ignore_index=True)

In [489]:
# Vérification du nouveau dataset
product_df.sample(n=5)

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description,type
28364,FBS,Food Balances (2010-),780,Trinidad and Tobago,664,Food supply (kcal/capita/day),S2765,Crustaceans,2018,2018,kcal/capita/day,2.49,E,Estimated value,animal
58073,FBS,Food Balances (2010-),818,Egypt,684,Fat supply quantity (g/capita/day),S2515,Rye and products,2018,2018,g/capita/day,0.00,E,Estimated value,vegetal
86046,FBS,Food Balances (2010-),480,Mauritius,664,Food supply (kcal/capita/day),S2899,Miscellaneous,2019,2019,kcal/capita/day,10.80,E,Estimated value,vegetal
24460,FBS,Food Balances (2010-),882,Samoa,664,Food supply (kcal/capita/day),S2743,Cream,2019,2019,kcal/capita/day,2.43,E,Estimated value,animal
80596,FBS,Food Balances (2010-),434,Libya,645,Food supply quantity (kg/capita/yr),S2555,Soyabeans,2019,2019,kg,0.00,E,Estimated value,vegetal

### Question 5 :

In [490]:
# Changement du dataset population
population_df = population_df.drop(['domain_code', 'domain', 'element_code', 'element', 'item_code_(cpc)', 'item', 'year_code', 'unit', 'flag', 'flag_description'], axis=1)
population_df.sample(n=5)

     area_code_(m49)           area  year     value
235              540  New Caledonia  2019    282.75
99               212       Dominica  2019     71.81
298              703       Slovakia  2019   5457.01
327              768           Togo  2019   8082.37
271              642        Romania  2018  19506.00

In [491]:
population_df = population_df.rename(columns={'value': 'pop_1000_hab'})
population_df.sample(n=5)

     area_code_(m49)         area  year  pop_1000_hab
192              434        Libya  2018       6679.00
12                51      Armenia  2018       2951.74
34               204        Benin  2019      11801.15
353              548      Vanuatu  2019        299.88
305              728  South Sudan  2019      11062.11

### Question 6 :
afin de ne garder que les colonnes area_code_(fao), area, element, item, year, type, unit.

In [492]:
product_df = product_df.drop(['domain_code', 'domain', 'element_code', 'item_code_(cpc)', 'year_code', 'flag', 'flag_description'], axis=1)
product_df.sample(n=5)

,area_code_(m49),area,element,item,year,unit,value,type
114843,768,Togo,Food supply (kcal/capita/day),Sunflowerseed Oil,2018,kcal/capita/day,3.36,vegetal
59226,233,Estonia,Food supply (kcal/capita/day),Soyabeans,2019,kcal/capita/day,0.29,vegetal
18154,478,Mauritania,Protein supply quantity (g/capita/day),Eggs,2019,g/capita/day,0.62,animal
77016,414,Kuwait,Food supply (kcal/capita/day),"Roots, Other",2019,kcal/capita/day,0.07,vegetal
5979,156,"China, mainland",Food supply (kcal/capita/day),Aquatic Plants,2018,kcal/capita/day,13.00,animal

### Question 7 :

In [493]:
# Fusion des deux jeux de données
general_df = pd.merge(population_df, product_df)
general_df.head()

,area_code_(m49),area,year,pop_1000_hab,element,item,unit,value,type
0,4,Afghanistan,2018,37172.0,Food supply quantity (kg/capita/yr),Bovine Meat,kg,2.62,animal
1,4,Afghanistan,2018,37172.0,Food supply (kcal/capita/day),Bovine Meat,kcal/capita/day,15.42,animal
2,4,Afghanistan,2018,37172.0,Protein supply quantity (g/capita/day),Bovine Meat,g/capita/day,1.09,animal
3,4,Afghanistan,2018,37172.0,Fat supply quantity (g/capita/day),Bovine Meat,g/capita/day,1.20,animal
4,4,Afghanistan,2018,37172.0,Food supply quantity (kg/capita/yr),Mutton & Goat Meat,kg,4.26,animal

In [494]:
# Renommage de colonnes
general_df = general_df.rename(columns={'area_code_(m49)': 'area_country', 'area': 'country'})
general_df.head()

,area_country,country,year,pop_1000_hab,element,item,unit,value,type
0,4,Afghanistan,2018,37172.0,Food supply quantity (kg/capita/yr),Bovine Meat,kg,2.62,animal
1,4,Afghanistan,2018,37172.0,Food supply (kcal/capita/day),Bovine Meat,kcal/capita/day,15.42,animal
2,4,Afghanistan,2018,37172.0,Protein supply quantity (g/capita/day),Bovine Meat,g/capita/day,1.09,animal
3,4,Afghanistan,2018,37172.0,Fat supply quantity (g/capita/day),Bovine Meat,g/capita/day,1.20,animal
4,4,Afghanistan,2018,37172.0,Food supply quantity (kg/capita/yr),Mutton & Goat Meat,kg,4.26,animal

### Question 8 :

In [495]:
# Vérification des types de données
general_df.dtypes

area_country      int64
country          object
year              int64
pop_1000_hab    float64
element          object
item             object
unit             object
value           float64
type             object
dtype: object

### Question 9 :

In [496]:
# Vérification de valeurs manquantes
general_df.isna().sum()

area_country    0
country         0
year            0
pop_1000_hab    0
element         0
item            0
unit            0
value           0
type            0
dtype: int64

### Question 10 :

In [497]:
# Vérification de certaines valeurs négatives, aberrantes
general_df.describe()

        area_country           year  pop_1000_hab          value
count  124256.000000  124256.000000  1.242560e+05  124256.000000
mean      426.895868    2018.508635  4.298225e+04      10.994490
std       250.624782       0.499927  1.525786e+05      56.186085
min         4.000000    2018.000000  1.076000e+01      -0.030000
25%       208.000000    2018.000000  2.801000e+03       0.000000
50%       418.000000    2019.000000  9.949540e+03       0.190000
75%       642.000000    2019.000000  3.081000e+04       2.790000
max       894.000000    2019.000000  1.433784e+06    1779.760000

### Question 11 :

In [498]:
# Affichage des valeurs uniques de 'country'
general_df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Türkiye',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

### Question 12 :

In [499]:
# Pas besoin de faire cette étape.

### Question 13 :

In [500]:
# Réindexation du dataframe
general_df = general_df.set_index(['area_country', 'country', 'year', 'pop_1000_hab', 'type', 'item'])
general_df.sample(n=5)

,,,,,,element,unit,value
area_country,country,year,pop_1000_hab,type,item,,,
840,United States of America,2019,329064.92,animal,Pigmeat,Food supply quantity (kg/capita/yr),kg,30.84
729,Sudan,2019,42813.24,vegetal,Cocoa Beans and products,Food supply (kcal/capita/day),kcal/capita/day,0.42
508,Mozambique,2019,30366.04,vegetal,Bananas,Food supply (kcal/capita/day),kcal/capita/day,31.17
288,Ghana,2019,30417.86,vegetal,Soyabean Oil,Food supply quantity (kg/capita/yr),kg,0.10
140,Central African Republic,2018,4666.00,animal,Poultry Meat,Food supply (kcal/capita/day),kcal/capita/day,9.21

In [501]:
general_wide_df = general_df.pivot_table(index=['area_country', 'country', 'year', 'pop_1000_hab', 'type', 'item'], columns='element', values='value')

In [502]:
general_wide_df.head()

element                                                          Fat supply quantity (g/capita/day)  \
area_country country     year pop_1000_hab type   item
4            Afghanistan 2018 37172.0      animal Bovine Meat                                  1.20
                                                  Butter, Ghee                                 2.50
                                                  Cream                                        0.02
                                                  Demersal Fish                                0.00
                                                  Eggs                                         0.44

element                                                          Food supply (kcal/capita/day)  \
area_country country     year pop_1000_hab type   item
4            Afghanistan 2018 37172.0      animal Bovine Meat                            15.42
                                                  Butter, Ghee                           22.14
                                                  Cream                                   0.23
                                                  Demersal Fish                           0.13
                                                  Eggs                                    6.06

element                                                          Food supply quantity (kg/capita/yr)  \
area_country country     year pop_1000_hab type   item
4            Afghanistan 2018 37172.0      animal Bovine Meat                                   2.62
                                                  Butter, Ghee                                  1.00
                                                  Cream                                         0.04
                                                  Demersal Fish                                 0.15
                                                  Eggs                                          1.55

element                                                          Protein supply quantity (g/capita/day)
area_country country     year pop_1000_hab type   item
4            Afghanistan 2018 37172.0      animal Bovine Meat                                      1.09
                                                  Butter, Ghee                                     0.03
                                                  Cream                                            0.00
                                                  Demersal Fish                                    0.03
                                                  Eggs                                             0.45

In [503]:
#general_wide_df = general_wide_df.drop('index', axis=1)

KeyError: "['index'] not found in axis"

In [505]:
general_wide_df = general_wide_df.reset_index()

In [506]:
general_wide_df

element,area_country,country,year,pop_1000_hab,type,item,Fat supply quantity (g/capita/day),Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Protein supply quantity (g/capita/day)
0,4,Afghanistan,2018,37172.00,animal,Bovine Meat,1.20,15.42,2.62,1.09
1,4,Afghanistan,2018,37172.00,animal,"Butter, Ghee",2.50,22.14,1.00,0.03
2,4,Afghanistan,2018,37172.00,animal,Cream,0.02,0.23,0.04,0.00
3,4,Afghanistan,2018,37172.00,animal,Demersal Fish,0.00,0.13,0.15,0.03
4,4,Afghanistan,2018,37172.00,animal,Eggs,0.44,6.06,1.55,0.45
...,...,...,...,...,...,...,...,...,...,...
31237,894,Zambia,2019,17861.03,vegetal,Tea (including mate),0.00,0.12,0.11,0.03
31238,894,Zambia,2019,17861.03,vegetal,Tomatoes and products,0.01,0.78,1.40,0.04
31239,894,Zambia,2019,17861.03,vegetal,"Vegetables, other",0.10,12.54,17.94,0.72
31240,894,Zambia,2019,17861.03,vegetal,Wheat and products,0.26,62.61,7.58,1.86
31241,894,Zambia,2019,17861.03,vegetal,Wine,0.00,0.28,0.15,0.00

### Question 14 :

In [510]:
# Renommage des colonnes
general_wide_df = general_wide_df.rename(columns=lambda x: x.lower().replace(' ', '_'))
general_wide_df.sample(n=5)

element,area_country,country,year,pop_1000_hab,type,item,fat_supply_quantity_(g/capita/day),food_supply_(kcal/capita/day),food_supply_quantity_(kg/capita/yr),protein_supply_quantity_(g/capita/day)
24052,662,Saint Lucia,2018,182.00,vegetal,Plantains,0.06,13.58,6.61,0.15
3726,100,Bulgaria,2019,7000.12,vegetal,Infant food,0.01,1.49,0.15,0.06
22630,616,Poland,2018,37922.00,vegetal,"Oilcrops, Other",0.05,0.55,0.04,0.02
12105,344,"China, Hong Kong SAR",2018,7372.00,animal,"Molluscs, Other",0.16,8.58,14.82,1.27
6672,180,Democratic Republic of the Congo,2019,86790.57,animal,Demersal Fish,0.01,0.50,0.33,0.10

In [511]:
general_wide_df.shape

(31242, 10)

### Question 15 :

In [512]:
# Création d'un masque
mask = general_wide_df['year'] == 2018

In [513]:
# Application du masque
general_wide_df_2018 = general_wide_df.loc[mask]
general_wide_df_2018

element,area_country,country,year,pop_1000_hab,type,item,fat_supply_quantity_(g/capita/day),food_supply_(kcal/capita/day),food_supply_quantity_(kg/capita/yr),protein_supply_quantity_(g/capita/day)
0,4,Afghanistan,2018,37172.0,animal,Bovine Meat,1.20,15.42,2.62,1.09
1,4,Afghanistan,2018,37172.0,animal,"Butter, Ghee",2.50,22.14,1.00,0.03
2,4,Afghanistan,2018,37172.0,animal,Cream,0.02,0.23,0.04,0.00
3,4,Afghanistan,2018,37172.0,animal,Demersal Fish,0.00,0.13,0.15,0.03
4,4,Afghanistan,2018,37172.0,animal,Eggs,0.44,6.06,1.55,0.45
...,...,...,...,...,...,...,...,...,...,...
31148,894,Zambia,2018,17352.0,vegetal,Tea (including mate),0.00,0.13,0.12,0.03
31149,894,Zambia,2018,17352.0,vegetal,Tomatoes and products,0.01,0.78,1.42,0.04
31150,894,Zambia,2018,17352.0,vegetal,"Vegetables, other",0.12,13.90,20.58,0.82
31151,894,Zambia,2018,17352.0,vegetal,Wheat and products,0.24,65.75,8.12,1.98
31152,894,Zambia,2018,17352.0,vegetal,Wine,0.00,0.35,0.19,0.00

### Question 16 :