# Importation des df

In [85]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [86]:
animal_df = pd.read_csv("src/datas/animal_dataset.csv")
vegetal_df = pd.read_csv("src/datas/vegetal_dataset.csv")
population_df = pd.read_csv("src/datas/population_dataset.csv")

In [87]:
animal_df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.62,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.73,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/capita/day,15.42,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/capita/day,16.03,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/capita/day,1.09,E,Estimated value

In [88]:
vegetal_df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2018,2018,kg,160.12,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2019,2019,kg,158.95,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2018,2018,kcal/capita/day,1372.02,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2019,2019,kcal/capita/day,1361.66,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2511,Wheat and products,2018,2018,g/capita/day,37.00,E,Estimated value

In [89]:
population_df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,37172.00,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,38041.75,X,Figure from international organizations
2,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,2883.00,X,Figure from international organizations
3,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,2880.92,X,Figure from international organizations
4,FBS,Food Balances (2010-),12,Algeria,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,42228.00,X,Figure from international organizations

## Nettoyage des données

### Question 1 :

In [90]:
# Première étape faire le nettoyage dans les titres.
animal_df = animal_df.rename(columns=lambda x: x.lower().replace(' ', '_'))
print("---------Animal---------")
animal_df.columns

---------Animal---------

Index(['domain_code', 'domain', 'area_code_(m49)', 'area', 'element_code',
       'element', 'item_code_(cpc)', 'item', 'year_code', 'year', 'unit',
       'value', 'flag', 'flag_description'],
      dtype='object')

In [91]:
vegetal_df = vegetal_df.rename(columns=lambda x: x.lower().replace(' ', '_'))
print("---------Vegetal---------")
vegetal_df.columns

---------Vegetal---------

Index(['domain_code', 'domain', 'area_code_(m49)', 'area', 'element_code',
       'element', 'item_code_(cpc)', 'item', 'year_code', 'year', 'unit',
       'value', 'flag', 'flag_description'],
      dtype='object')

In [92]:
population_df = population_df.rename(columns=lambda x: x.lower().replace(' ', '_'))
print("---------Population---------")
population_df.columns

---------Population---------

Index(['domain_code', 'domain', 'area_code_(m49)', 'area', 'element_code',
       'element', 'item_code_(cpc)', 'item', 'year_code', 'year', 'unit',
       'value', 'flag', 'flag_description'],
      dtype='object')

### Question 2 :

In [93]:
# Dimensions des jeux de données
animal_df.shape

(31366, 14)

In [94]:
vegetal_df.shape

(92890, 14)

In [95]:
population_df.shape

(364, 14)

### Question 3 :

In [96]:
# Voir les 5 premières lignes des jeux de données
animal_df.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.62,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.73,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/capita/day,15.42,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/capita/day,16.03,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/capita/day,1.09,E,Estimated value

In [97]:
vegetal_df.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2018,2018,kg,160.12,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2019,2019,kg,158.95,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2018,2018,kcal/capita/day,1372.02,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2019,2019,kcal/capita/day,1361.66,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2511,Wheat and products,2018,2018,g/capita/day,37.00,E,Estimated value

In [98]:
population_df.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,37172.00,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,38041.75,X,Figure from international organizations
2,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,2883.00,X,Figure from international organizations
3,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,2880.92,X,Figure from international organizations
4,FBS,Food Balances (2010-),12,Algeria,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,42228.00,X,Figure from international organizations

### Question 4 :

In [99]:
# Ajout de la colonne type aux datasets animal & vegetal
animal_df = animal_df.assign(type='animal')
vegetal_df = vegetal_df.assign(type='vegetal')

In [100]:
# Assemblage des deux datasets animal et vegetal
product_df = pd.concat([animal_df, vegetal_df], ignore_index=True)

In [101]:
# Vérification du nouveau dataset
product_df.sample(n=5)

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description,type
53158,FBS,Food Balances (2010-),192,Cuba,684,Fat supply quantity (g/capita/day),S2558,Rape and Mustardseed,2018,2018,g/capita/day,0.02,E,Estimated value,vegetal
89863,FBS,Food Balances (2010-),516,Namibia,674,Protein supply quantity (g/capita/day),S2642,Cloves,2019,2019,g/capita/day,0.00,E,Estimated value,vegetal
52854,FBS,Food Balances (2010-),191,Croatia,664,Food supply (kcal/capita/day),S2617,Apples and products,2018,2018,kcal/capita/day,18.67,E,Estimated value,vegetal
115978,FBS,Food Balances (2010-),788,Tunisia,674,Protein supply quantity (g/capita/day),S2612,"Lemons, Limes and products",2019,2019,g/capita/day,0.05,E,Estimated value,vegetal
116760,FBS,Food Balances (2010-),795,Turkmenistan,684,Fat supply quantity (g/capita/day),S2557,Sunflower seed,2019,2019,g/capita/day,0.38,E,Estimated value,vegetal

### Question 5 :

In [102]:
# Changement du dataset population
population_df = population_df.drop(['domain_code', 'domain', 'element_code', 'element', 'item_code_(cpc)', 'item', 'year_code', 'unit', 'flag', 'flag_description'], axis=1)
population_df.sample(n=5)

     area_code_(m49)                 area  year     value
289              686              Senegal  2018  15854.00
138              324               Guinea  2018  12414.00
205              462             Maldives  2019    530.95
271              642              Romania  2018  19506.00
9                 28  Antigua and Barbuda  2019     97.12

In [103]:
population_df = population_df.rename(columns={'value': 'pop_1000_hab'})
population_df.sample(n=5)

     area_code_(m49)             area  year  pop_1000_hab
174              404            Kenya  2018      51393.00
247              578           Norway  2019       5378.86
306              724            Spain  2018      46693.00
258              604             Peru  2018      31989.00
68               156  China, mainland  2018    1427648.00

### Question 6 :
afin de ne garder que les colonnes area_code_(fao), area, element, item, year, type, unit.

In [104]:
product_df = product_df.drop(['domain_code', 'domain', 'element_code', 'item_code_(cpc)', 'year_code', 'value', 'flag', 'flag_description'], axis=1)
product_df.sample(n=5)

,area_code_(m49),area,element,item,year,unit,type
94831,512,Oman,Fat supply quantity (g/capita/day),Rye and products,2019,g/capita/day,vegetal
112591,760,Syrian Arab Republic,Food supply quantity (kg/capita/yr),Wheat and products,2019,kg,vegetal
85833,480,Mauritius,Fat supply quantity (g/capita/day),Maize Germ Oil,2018,g/capita/day,vegetal
86246,484,Mexico,Food supply (kcal/capita/day),Coconuts - Incl Copra,2019,kcal/capita/day,vegetal
86516,484,Mexico,Food supply quantity (kg/capita/yr),Cloves,2019,kg,vegetal

### Question 7 :

In [105]:
# Fusion des deux jeux de données
general_df = pd.merge(population_df, product_df)
general_df.head()

,area_code_(m49),area,year,pop_1000_hab,element,item,unit,type
0,4,Afghanistan,2018,37172.0,Food supply quantity (kg/capita/yr),Bovine Meat,kg,animal
1,4,Afghanistan,2018,37172.0,Food supply (kcal/capita/day),Bovine Meat,kcal/capita/day,animal
2,4,Afghanistan,2018,37172.0,Protein supply quantity (g/capita/day),Bovine Meat,g/capita/day,animal
3,4,Afghanistan,2018,37172.0,Fat supply quantity (g/capita/day),Bovine Meat,g/capita/day,animal
4,4,Afghanistan,2018,37172.0,Food supply quantity (kg/capita/yr),Mutton & Goat Meat,kg,animal

In [106]:
# Renommage de colonnes
general_df = general_df.rename(columns={'area_code_(m49)': 'area_country', 'area': 'country'})
general_df.head()

,area_country,country,year,pop_1000_hab,element,item,unit,type
0,4,Afghanistan,2018,37172.0,Food supply quantity (kg/capita/yr),Bovine Meat,kg,animal
1,4,Afghanistan,2018,37172.0,Food supply (kcal/capita/day),Bovine Meat,kcal/capita/day,animal
2,4,Afghanistan,2018,37172.0,Protein supply quantity (g/capita/day),Bovine Meat,g/capita/day,animal
3,4,Afghanistan,2018,37172.0,Fat supply quantity (g/capita/day),Bovine Meat,g/capita/day,animal
4,4,Afghanistan,2018,37172.0,Food supply quantity (kg/capita/yr),Mutton & Goat Meat,kg,animal

### Question 8 :

In [107]:
# Vérification des types de données
general_df.dtypes

area_country      int64
country          object
year              int64
pop_1000_hab    float64
element          object
item             object
unit             object
type             object
dtype: object

### Question 9 :

In [108]:
# Vérification de valeurs manquantes
general_df.isna().sum()

area_country    0
country         0
year            0
pop_1000_hab    0
element         0
item            0
unit            0
type            0
dtype: int64

### Question 10 :

In [109]:
# Vérification de certaines valeurs négatives, aberrantes
general_df.describe()

        area_country           year  pop_1000_hab
count  124256.000000  124256.000000  1.242560e+05
mean      426.895868    2018.508635  4.298225e+04
std       250.624782       0.499927  1.525786e+05
min         4.000000    2018.000000  1.076000e+01
25%       208.000000    2018.000000  2.801000e+03
50%       418.000000    2019.000000  9.949540e+03
75%       642.000000    2019.000000  3.081000e+04
max       894.000000    2019.000000  1.433784e+06

### Question 11 :

In [110]:
# Affichage des valeurs uniques de 'country'
general_df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Türkiye',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

### Question 12 :

In [111]:
# Pas besoin de faire cette étape.

### Question 13 :

In [112]:
# Réindexation du dataframe
general_df = general_df.set_index(['area_country', 'country', 'year', 'pop_1000_hab', 'type', 'item'])
general_df.sample(n=5)

,,,,,,element,unit
area_country,country,year,pop_1000_hab,type,item,,
191,Croatia,2019,4130.30,vegetal,Soyabean Oil,Food supply (kcal/capita/day),kcal/capita/day
446,"China, Macao SAR",2018,632.00,vegetal,"Fruits, other",Protein supply quantity (g/capita/day),g/capita/day
410,Republic of Korea,2019,51225.31,animal,"Offals, Edible",Fat supply quantity (g/capita/day),g/capita/day
178,Congo,2018,5244.00,vegetal,Honey,Food supply quantity (kg/capita/yr),kg
768,Togo,2019,8082.37,vegetal,Groundnut Oil,Fat supply quantity (g/capita/day),g/capita/day

In [113]:
general_wide_df = general_df.pivot_table(index=['area_country', 'country', 'year', 'pop_1000_hab', 'type', 'item'], columns='element', values='value')

KeyError: 'value'

In [ ]:
general_wide_df.head()

In [ ]:
# Réinitialisation de l'index
general_wide_df = general_wide_df.reset_index()

### Question 14 :